<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1> media Holding For Financial Investments</h1> 
    <p style="color: azure">
          Headquartered in Cairo, Egypt, yet unrepressed to cover operations in all continents,
        media Holding is an auspicious investment conglomerate managing a diversified investment portfolio. As the parent company
        of eleven up-and coming lines of business, media Holding operates in the fields of information technology, data center outsourcing,
        contact center, smart buildings, consumer electronics, food and beverage, land transport, PET re-manufacturing and E-payments.
        media Holding shares have been listed in the Egyptian Exchange (EGX) since 2005, while the company empowers more than 11,000
        proficient employees, accommodating a wide international customer base from offices based in Egypt, Saudi Arabia, UAE, Qatar,
        Poland, Nigeria and Tanzania.
        </p>
  </div>
</div>